.toggle-add {
  position: fixed;
  bottom: 40px;
  right: 50px;
  font-size: 70px;
}

.toggle-add > svg:hover {
  path {
    fill: white;
    stroke: black;
  }
}

.toggle-add > svg {
  path {
    fill: black;
    stroke: white;
  }
}
